.DS_Store
barcoded_run/.DS_Store
barcoded_run/sequencing_summary_test_barcoded.txt
MOM_ulk/pore_activity_PBG35699_c38576fa_9da6528c.csv
MOM_ulk/sequencing_summary_PBG35699_c38576fa_9da6528c.txt
MOM_ulk/throughput_PBG35699_c38576fa_9da6528c.csv
singleplex_run/pore_activity_PBG32116_2bd7c1a0_5cc884bc.csv
singleplex_run/sequencing_summary_PBG32116_2bd7c1a0_5cc884bc.txt
singleplex_run/throughput_PBG32116_2bd7c1a0_5cc884bc.csv
MOM_ulk_qc/MOM_ulk_active_pores.png
MOM_ulk_qc/MOM_ulk_channel_map.png
MOM_ulk_qc/MOM_ulk_cumulative_n50.png
MOM_ulk_qc/MOM_ulk_duty_time.png
MOM_ulk_qc/MOM_ulk_end_reason.png
MOM_ulk_qc/MOM_ulk_estimated_vs_basecalled.png
MOM_ulk_qc/MOM_ulk_length_by_qscore_tier.png
MOM_ulk_qc/MOM_ulk_length_proportions.png
MOM_ulk_qc/MOM_ulk_length_vs_qscore.png
MOM_ulk_qc/MOM_ulk_occupancy_over_time.png
MOM_ulk_qc/MOM_ulk_pass_rate_over_time.png
MOM_ulk_qc/MOM_ulk_pore_survival.png
MOM_ulk_qc/MOM_ulk_qscore_bins_over_time.png
MOM_ulk_qc/MOM_ulk_qscore_dist.png
MOM_ulk_qc/MOM_ulk_qscore_over_time.png
MOM_ulk_qc/MOM_ulk_read_length_cdf.png
MOM_ulk_qc/MOM_ulk_read_length_dist.png
MOM_ulk_qc/MOM_ulk_read_length_vs_time.png
MOM_ulk_qc/MOM_ulk_read_rate.png
MOM_ulk_qc/MOM_ulk_reads_per_hour.png
MOM_ulk_qc/MOM_ulk_report.html
MOM_ulk_qc/MOM_ulk_sequencing_rate.png
MOM_ulk_qc/MOM_ulk_speed_over_time.png
MOM_ulk_qc/MOM_ulk_strand_video.mp4
MOM_ulk_qc/MOM_ulk_summary.txt
MOM_ulk_qc/MOM_ulk_translocation_speed.png
MOM_ulk_qc/MOM_ulk_yield_by_region.png
MOM_ulk_qc/MOM_ulk_yield_over_time.png
MOM_ulk_qc/MOM_ulk_yield_per_hour.png
test_MOM_qc/test_MOM_active_pores.png
test_MOM_qc/test_MOM_channel_map.png
test_MOM_qc/test_MOM_cumulative_n50.png
test_MOM_qc/test_MOM_duty_time.png
test_MOM_qc/test_MOM_end_reason.png
test_MOM_qc/test_MOM_estimated_vs_basecalled.png
test_MOM_qc/test_MOM_length_by_qscore_tier.png
test_MOM_qc/test_MOM_length_proportions.png
test_MOM_qc/test_MOM_length_vs_qscore.png
test_MOM_qc/test_MOM_occupancy_over_time.png
test_MOM_qc/test_MOM_pass_rate_over_time.png
test_MOM_qc/test_MOM_pore_survival.png
test_MOM_qc/test_MOM_qscore_bins_over_time.png
test_MOM_qc/test_MOM_qscore_dist.png
test_MOM_qc/test_MOM_qscore_over_time.png
test_MOM_qc/test_MOM_read_length_cdf.png
test_MOM_qc/test_MOM_read_length_dist.png
test_MOM_qc/test_MOM_read_length_vs_time.png
test_MOM_qc/test_MOM_read_rate.png
test_MOM_qc/test_MOM_reads_per_hour.png
test_MOM_qc/test_MOM_report.html
test_MOM_qc/test_MOM_sequencing_rate.png
test_MOM_qc/test_MOM_speed_over_time.png
test_MOM_qc/test_MOM_summary.txt
test_MOM_qc/test_MOM_translocation_speed.png
test_MOM_qc/test_MOM_yield_by_region.png
test_MOM_qc/test_MOM_yield_over_time.png
test_MOM_qc/test_MOM_yield_per_hour.png
